{% extends "base.html" %}

{% block content %}
<h1 class="title-locks">List of passwords</h1>
<div class="columns is-gapless is-multiline is-mobile">
  {% for password in passwords %}
    <div class="col">
      <div class="pricing-table">
          <h3 class="pricing-title">{{ password['keyboardPwdName'] }}</h3>
          <ul class="table-list">
            <li>Lock ID: <span>{{password['lockId']}}</span></li>
            <li>Password: <span>{{password['keyboardPwd']}}</span></li>
            <li>Start Date: <span> <p id='timestamp'>{{password['startDate']}}</p></li>
            <li>End Date: <span><p id='timestamp'>{{password['endDate']}}</p></li>
            <li>Send Date: <span><p id='timestamp'>{{password['sendDate']}}</p></li>
          </ul>
		    </div>
    </div>
  {% endfor %}
</div>
{% endblock %}


